.box5
    width 100px
    height 100px
    border 1px solid red
    overflow hidden
    background-size contain
    background-repeat no-repeat
    background-position center
    background-image url('../images/螺旋星系3440x1440壁纸_彼岸图网.jpg')