.main {
    display: flex;
    margin: 30px auto;
    width: 80%;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;

    @media screen and (max-width: 900px) {
        width: 100%;
    }

    .box {
        width: 33%;
        height: 200px;
        border: 1px solid #ccc;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        img {
            height: 150px;
        }
    }

    h2 {
        position: absolute;
        left: 15px;
    }
}